<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        夏立的个人系统
    </title>
    <link rel="stylesheet" href="../public/bootstrap4/css/bootstrap.min.css">

    <script src="../public/js/jquery-3.3.1.min.js"></script>
    <script src="../public/bootstrap4/js/bootstrap.min.js"></script>
    <script src="../public/js/viewer-jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/more.css">
</head>
<body>
    <div class="right-top-div card row">
        <div class="items-top card-body">
            <nav class="items-nav-bar navbar navbar-expand-sm">
                <ul class="items-nav navbar-nav">
                    <{foreach $items as $key => $item}>
                    <li class="item-top nav-item">
                        <a class="item-top-nav nav-link" href="#"><{$item.name}></a>
                    </li>
                    <{/foreach}>

                </ul>

            </nav>
        </div>
    </div>

    <div class="card ">
        <div class="card-body row">
            <div class="items col-xl-2 ">

                <{foreach $items as $key => $item}>
                    <div class="card item-btn-card">
                        <div class="card-body item-btn-card-body">
                              <{$item.name}>
                        </div>
                    </div>
                <{/foreach}>

            </div>
            <div class="content-div card col-xl-10"><div class="content card-body"><iframe src="<{$firstSrc}>"  seamless></iframe></div></div>

        </div>
    </div>
</body>
</html>
