<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        夏立的个人系统
    </title>
    <link rel="stylesheet" href="../public/bootstrap4/css/bootstrap.min.css">

    <script src="../public/js/jquery-3.3.1.min.js"></script>
    <script src="../public/bootstrap4/js/bootstrap.min.js"></script>
    <script src="../public/js/viewer-jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/more.css">
</head>
<body>

            <div class="right-top-div">
            <nav class="items-nav-bar navbar navbar-expand-sm bg-light">
                <ul class="items-nav navbar-nav">
                    <{foreach $items as $key => $item}>
                    <li class="item-top nav-item">
                        <a class="item-top-nav nav-link" href="#"><{$item.name}></a>
                    </li>
                    <{/foreach}>

                </ul>

            </nav>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <a class="item-top-nav nav-link" href="#">登录</a></button>
                <li class="register item-top nav-item"><a class="item-top-nav nav-link" href="#">注册</a></li>
            </div>


        <div class="items">
                <{foreach $items as $key => $item}>
                    <div class="item card ">
                        <div class="card-item card-body" data-url="<{$item.url}>"><{$item.name}></div>
                    </div>
                <{/foreach}>
        </div>
            <div class="content-div card"><div class="content card-body"><iframe src="<{$firstSrc}>"  seamless></iframe></div></div>



<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">模态框头部</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                模态框内容..
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>
</body>
</html>
