<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        夏立的个人系统
    </title>
    <link rel="stylesheet" href="../public/bootstrap4/css/bootstrap.min.css">

    <script src="../public/js/jquery-3.3.1.min.js"></script>
    <script src="../public/bootstrap4/js/bootstrap.min.js"></script>
    <script src="../public/js/viewer-jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/more.css">
</head>
<body class="login-body">

    <div class="mysql-install card col-12 col-sm-10 col-md-9 col-lg-7 col-xl-5" >
        <div class="card-body">
            <div class="content-login1 panel panel-default">
            <div class="panel-body">
                安装系统
            </div>
        </div>
            <div class="login-card card">
            <div class="card-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="dbname" class=" col-sm-3 control-label">数据库名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="dbname" placeholder="请输入数据库名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sqlname" class="col-sm-3 control-label">数据库账号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="sqlname" placeholder="请输入数据库账号">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sqlpwd" class="col-sm-3 control-label">数据库密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="sqlpwd" placeholder="请输入数据库账号" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">登录账号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" placeholder="请输入账号" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pwd" class="col-sm-3 control-label">登录密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="pwd" placeholder="请输入密码" >
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" id="install" class="btn btn-primary" >安装</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

    <!-- 模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-remote="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal_header" class="modal-title">系统消息</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div id="modal_content" class="modal-body">
                    <div class="row">
                        <div id="cnt_icon" class="col-4 text-right"></div>
                        <div id="cnt_body" class="col-6 text-left"></div>
                    </div>

                </div>

                <div id="modal_footer"  class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(function() {
        var is_install = false;
        var show_msg = "";
        $('#myModal').on('hidden.bs.modal',
            function() {
                if(is_install) {

                }
            });

        $('#myModal').on('show.bs.modal',
            function() {
                $('#cnt_body').text(show_msg);
            });

        $("#install").click(function(){
            var dbname = $("#dbname").val();
            var sqlname = $("#sqlname").val();
            var sqlpwd = $("#sqlpwd").val();
            var name = $("#name").val();
            var pwd = $("#pwd").val();

            $.post("./home/mysql.php?act=install",
                {
                    dbname: dbname,
                    sqlname: sqlname,
                    sqlpwd: sqlpwd,
                    name: name,
                    pwd: pwd
                },
                function(data,status){
                    var text = JSON.parse(data);
                    is_install = text.success;
                    show_msg = text.msg;
                    if(text.success == true) {
                        $("#myModal").modal("show");
                    } else {
                        $("#myModal").modal("show");
                    }
                });
        });
    });
</script>
</body>
</html>