iframe{
    width: 100%;
    border:none;
    border-radius: 5px;
    height: 750px;
    margin: 0;
}

.bottom-div-card{
    margin-top: 0;
}
.items{
    margin-top: -18px;
}
.content-div{
    margin-top: -16px;
    padding: 0;
}
.items-top{
    padding:60px 0 0 0;
    border:none;
}

.items-nav-bar{
    height: 55px;
    background: #444444;
    border:none;
    padding:0 0 0 60px;
}
.items-nav{
    height: 55px;
    padding:0;
    margin:0;
}
.item-top{
    width:150px;
    margin: 0 1px 0 0;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    color:#EBEFF3;
    letter-spacing:1px;
}

.item-top-nav:hover{
    color:#E4E6E7;
}

.item-top:hover{
    border-left: 1px solid #E4E6E7;
}
.item-top-nav{
    color:#FFFFFF;
}

.item-btn-card{
    height:45px;
    margin:2px 0 0 0;
    padding:0;
    border-radius: 5px;
}
.item-btn-card-body{
    font-size: 18px;
    height:45px;
    margin:0;
    padding: 10px;
    text-align: center;
    letter-spacing:1px;
    border-radius: 5px;
}

.item-btn-card-body:hover{
    background: #444444;
    color:#E4E6E7;
}

.content-login{
    margin-top: 200px;
    height: 500px;
    background: #FFFFFF;
}

.content-login1{
    margin-bottom: 10px;
    font-size:25px;
}

.content{
    margin:0;
    padding: 0;
}

.login-card{
    border:1px solid #007BFF;
}
.login-body{
    background:#6F7071;
}

.mysql-install{
    margin: 100px 300px;
}