iframe{
    width: 1000px;
    border:none;
    height: 700px;
    margin: 0px;
}

.bottom-div-card{
    margin-top: 0;
}
.items{
    margin-top: -18px;
}
.content-div{
    margin-top: -16px;
}
.items-top{
    padding:60px 0 0 0;
    border:none;
}

.items-nav-bar{
    height: 55px;
    background: #444444;
    border:none;
    padding:0;
    padding-left:60px;
}
.items-nav{
    height: 55px;
    padding:0;
    margin:0;
}
.item-top{
    width:150px;
    margin: 0;
    margin-right: 1px;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    color:#EBEFF3;
    letter-spacing:1px;
}

.item-top-nav:hover{
    color:#E4E6E7;
}

.item-top:hover{
    border-left: 1px solid #E4E6E7;
}
.item-top-nav{
    color:#FFFFFF;
}

.item-btn-card{
    width: 205px;
    height:45px;
    margin:2px 0 0 0;
    padding:0;
    border-radius: 5px;
}
.item-btn-card-body{
    font-size: 18px;
    width: 205px;
    height:45px;
    margin:0;
    padding: 10px;
    text-align: center;
    letter-spacing:1px;
    border-radius: 5px;
}

.item-btn-card-body:hover{
    background: #444444;
    color:#E4E6E7;
}

.content-login{
    margin-top: 200px;
    height: 500px;
    border:1px solid #FF0000;
}